@import "node_modules/ol/ol.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('/references/styles/style.css');


html {
    font-size: 15px;
}

#map {
    z-index: 0;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#sidebar {
    box-sizing:border-box;
    overflow: hidden;
    z-index: 1;

    position: fixed;
    top: 0;
    bottom: 0;
    right: -22rem;
    width: 22rem;

    padding: 20px;

    border-width: 0;
    border-left-width: 0.1rem;
    border-color: var(--border-color);
    border-style: solid;

    background-color: var(--bgcolor);
    box-shadow: 0px 0px 10px var(--bgcolorhover);
	transition: 100ms;
}

@media (max-width: 48rem) { /* 768px */
    #sidebar {
        left: 0;
        right: 0;
        bottom: 0;
        height: 22rem;
    }
}

.ol_bw {
    filter: invert(100%) hue-rotate(180deg) saturate(20%) brightness(90%);/* contrast(100%);*/
}

#map-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20rem;
    vertical-align: bottom;

    background-color: #0000003a;
}

#legend {
    display: block;
}

.sidebar-section {
    width: 100%;
    box-sizing: border-box; 

	display: block;
	position: relative;

	white-space: normal;
	margin-bottom: 0rem;
    margin-top: 0rem;

    border-width: 0;
    border-bottom-width: 0.1rem;
    border-style: solid;
	border-radius: var(--borderradius);
    border-color: var(--border-color);

	background-color: var(--bgcolortile);
    

    z-index: 0;
    padding: 1rem;
}

#map-buttons {
    display: block;
}
.check-box-box {
    display: block;
}

#legend ul {
    list-style: none;
    margin-left: 0rem;
    left: 0;
}

#legend img {
    height: 2rem;
    vertical-align: middle;
}