@import "node_modules/ol/ol.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('/references/styles/style.css');


html {
    font-size: 15px;
}

#map {
    z-index: 0;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#sidebar {
    box-sizing:border-box;
    overflow: hidden;
    z-index: 1;

    position: fixed;
    top: 0;
    bottom: 0;
    right: -22rem;
    width: 22rem;

    padding: 2rem;
    padding-top: 3rem;

    border-width: 0;
    border-left-width: 0.1rem;
    border-color: var(--border-color);
    border-style: solid;

    background-color: var(--bgcolor);
    box-shadow: 0px 0px 10px var(--bgcolorhover);
	transition: 200ms;
}

@media (max-width: 48rem) { /* 768px */
    #sidebar {
        left: 0;
        right: 0;
        bottom: 0;
        height: 22rem;
    }
}

.ol_bw {
    filter: invert(100%) hue-rotate(180deg) saturate(20%) brightness(90%);/* contrast(100%);*/
}


.sidebar-section {
    width: 100%;
    box-sizing: border-box; 

	display: block;
	position: relative;

	white-space: normal;
	margin-bottom: 0rem;
    margin-top: 0rem;

    border-width: 0;
    border-bottom-width: 0.1rem;
    border-style: solid;
	border-radius: var(--borderradius);
    border-color: var(--border-color);

	background-color: var(--bgcolortile);
    

    z-index: 0;
    padding: 1rem;
}

#map-buttons {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 13rem;
    padding: 1em;

    background-color: var(--bgcolortile);/* #0000003a; */
    border-radius: var(--borderradius);
    border-radius: var(--borderradius);
    border-color: var(--border-color);
    border-right-style: solid;
    border-top-style: solid;
    border-width: 0.1rem;
}

#map-buttons * {
    padding: 0.2em;
}

hr {
    padding: 0 !important;
    margin: 1rem;
}

#legend {
    display: block;
    padding-left: 0;
    margin: 0;
}

#legend ul, #legend li {
    list-style: none;
    margin-left: 0rem;
    left: 0;
    padding: 0;
    padding-left: 0.1rem;
    margin: 0;
}

#legend img {
    height: 2rem;
    vertical-align: middle;
    margin-left: 0;
}

select {
    padding: 0;
    margin: 0;
}

label {
    padding: 1rem;
    margin:0;
}

.check-box {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.check-box input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    height: 0.7rem;
    width: 0.7rem;
    cursor: pointer;
    background-color: var(--bgcolortile);


    border-radius: var(--borderradius);
    border-radius: var(--borderradius);
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0.1rem;
}

/* On mouse-over*/
.check-box:hover input ~ .checkmark {
    border-color: var(--color1);
}
/* When checkbox is checked */
.check-box input:checked ~ .checkmark {
    color: var(--color1);
    border-color: var(--color1);
}


/* Show the checkmark when checked */
.check-box input:checked ~ .checkmark:after {
    display: block;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "/";
    position: absolute;
    display: none;
    color: var(--color1);
    vertical-align: middle;
    top: 0.3rem;
    left: 0.73rem;
}

.legend-color {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    height: 0.32rem;
    width: 0.32rem;
    background-color: var(--bgcolortile);
    border-radius: var(--borderradius);
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0.15rem; 
    margin: 0.1rem;
    margin-left: 0.1rem;
}