@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

/* a thing to do eventually is to make everything is the border-box model which is just better */

:root {
    --bgcolor: #131313;
    /*for the background these colors arent quite whats shown cause of the filters applied */
    --bgcolor2: #070707;
    --bgcolor3: #0b0c0eab;
    /* transparency */
    --bggradient: linear-gradient(to bottom right,
            var(--bgcolor), var(--bgcolor2));
    --bgcolortile: #131313;
    --color0: #f1ebe0;
    --color1: #e9ae31;
    --color2: #eb7221;
    --color3: #e2523f;
    --color4: #661717;
    --tricolorgradient: linear-gradient(to right, #dca327 0 33%, #e77541 33% 66%, #d83c38 66%) 1;
    --border-color: #514e49;

    --textcolor: #e0dfd9;
    --textcolor2: #6d6d6d;
    --errorcolor: #751c4d;

    --fontminsize: 15px;
    /* 14px → 0.88rem */
    --fontmaxsize: 18px;
    /* 18px → 1.13rem */
    --transitionms: 5ms;
    --borderradius: 0rem;
    /* 3px → 0.19rem */
}

/* Highlight color */
::selection {
    background: #442c11;
}

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: var(--textcolor);
    font-family: "Roboto Flex", "Comic Sans Ms";
    font-weight: 150;
    font-style: normal;
    font-size: 16px;
    /* font-size: clamp(var(--fontminsize), 4vw, var(--fontmaxsize)); */
    scrollbar-color: var(--color1) var(--bgcolor);
    scrollbar-width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
    /* white-space: nowrap; */
    background-color: var(--bgcolor);
    overscroll-behavior: none;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: auto;
}

/* Main content area */
#main {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    flex-direction: column;
    z-index: 0;

    min-height: 100%;
    width: 100vw;

    box-shadow: 0px 0px 10px #0000009f;
    background: var(--bggradient);
    flex-grow: 0;
    flex-shrink: 0;

    padding-left: 15%;
    padding-right: 15%;
    padding-top: 6rem;
    padding-bottom: 0;
    flex: 1;
    margin: 0;
}

/* because of front image */
.more-top-margin {
    margin-top: 25rem !important;
    padding-top: 3rem !important;
}

/* ----------------------------- Basic styling ------------------------------------------------------------------- */
p {
    line-height: 1.5;
    white-space: normal;
    color: var(--textcolor);
    font-size: var(--fontminsize);
}

#main p {
    margin-left: 1rem;
    margin-right: 1rem;
}

a {
    color: var(--color1);
    text-decoration: none;
    transition-duration: var(--transitionms);
}

a:hover {
    color: var(--color2);
    text-decoration: none;
}

h1 {
    color: var(--color0);
    text-shadow: 0.06rem 0.06rem 0px var(--color1);
    font-family: "Oxanium", "Gelasio";
    font-weight: 700;
    font-size: 2.5rem;
    /* 40px → 2.5rem */
    font-style: italic;
    line-height: 1em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    color: var(--color0);
    text-shadow: 0.06rem 0.06rem 0px var(--color1);
    font-family: "Oxanium", "Gelasio";
    font-size: 1.5rem;
    /* 35px → 2.19rem */
    font-weight: 500;
    padding: 0em;
    margin-top: 0;
    margin-bottom: 1rem;
}

h3 {
    color: var(--color1);
    /* text-shadow: 0.06rem 0.06rem 0px var(--color0); */
    font-family: "Oxanium", "Gelasio";
    font-weight: 500;
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

h4 {
    color: var(--color0);
    text-shadow: 0.06rem 0.06rem 0px var(--color1);
    font-family: "Oxanium", "Gelasio";
    font-weight: 500;
    margin: 0em;
}

hr {
    margin-top: 1.88rem;
    /* 30px → 1.88rem */
    margin-bottom: 1.88rem;
    margin-left: 1.88rem;
    margin-right: 1.88rem;
    border-image: var(--tricolorgradient);
}

img {
    /* width: 100%; 99 so that border will be accounted for. it means technically, some things are off center */
    height: auto;
    object-fit: cover;
}

iframe {
    color: var(--color1);
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0.1rem;
    /* 3px → 0.19rem */
    background-color: transparent;
    /* box-shadow: 0.2rem 0.2rem 0px var(--color1); */
    transition-duration: var(--transitionms);
}

iframe:hover {
    border-color: var(--color1);
    box-shadow: 0.12rem 0.12rem 0px var(--color2);
}

iframe:active {
    background: var(--color1);
    border-width: 0.1rem;
    /* 3px → 0.19rem */
    border-color: var(--color1);
    box-shadow: 0.12rem 0.12rem 0px var(--color2);
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

table tr {
    border: 1px solid var(--color0);
    padding: 0.63rem;
}

table td {
    border: 1px solid var(--color0);
    padding: 0.63rem;
    padding-left: 0;
}

/* List */
ul {
    list-style-type: square;
    color: var(--textcolor);
}

li {
    padding-left: 0.63rem;
    padding-top: 0.5rem;
    white-space: normal;
}

li::marker {
    color: var(--color1);
}

/* Button */
button, #model-viewer-download {
    color: var(--textcolor);
    padding: 0.63rem;
    /* 10px → 0.63rem */
    border-color: var(--border-color);
    border-style: solid;
    background-color: var(--bgcolortile);
    border-width: 0.1rem;
    box-shadow: 0rem 0rem 0.63rem var(--bgcolor3);
    transition-duration: var(--transitionms);
    outline: None;
    cursor: pointer;
    width: 5rem;
}

button:hover, #model-viewer-download:hover {
    border-color: var(--color1);
}

button:active, #model-viewer-download:active {
    filter: brightness(80%);
}

select {
    color: var(--color1);
    padding: 0.63rem;
    /* 10px → 0.63rem */
    border-color: var(--border-color);
    border-width: 0.1rem;
    border-style: solid;
    background-color: var(--bgcolortile);
    box-shadow: 0rem 0rem 0.63rem var(--bgcolor3);
    transition-duration: var(--transitionms);
    outline: None;
    cursor: pointer;
}

br {
    display: block;
    /* makes it have a width */
    content: "";
    /* clears default height */
    margin-top: 1em;
    /* change this to whatever height you want it */
}

select:hover {
    border-color: var(--color1);
    box-shadow: 0.06rem 0.06rem 0px var(--color2);
}

select:active {
    filter: brightness(80%);
}

/* Input */
input {
    color: var(--color1);
    padding: 0.63rem;
    /* 10px → 0.63rem */
    border-color: var(--border-color);
    border-width: 0.1rem;
    border-style: solid;
    background-color: var(--bgcolortile);
    box-shadow: 0rem 0rem 0.63rem var(--bgcolor3);
    transition-duration: var(--transitionms);
    outline: None;
    width: 5rem;
}

input:hover {
    border-color: var(--color2);
    /* 2px → 0.13rem */
}

input:focus {
    border-color: var(--color1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: var(--textcolor2);
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: var(--textcolor2);
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Label */
label {
    display: inline-block;
    margin-right: 0.63rem;
    /* 10px → 0.63rem */
}

/* Footer */
footer {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 1.88rem;
    /* 30px */
    padding-bottom: 0.63rem;
    /* 10px */
    text-align: center;
}

/* ----------------------------- Shizzle Mcnizzle -------------------------------------------------------------------*/
.shrink-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em;
    max-height: 2em;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: auto;
    overflow-y: none;

    height: 3.13rem;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 10vw;

    vertical-align: middle;

    border-color: transparent;
    border-bottom: 0.13rem;
    /* 2px */
    border-bottom-color: var(--color0);
    border-bottom-style: solid;
    border-image: var(--tricolorgradient);
    border-width: 0.13rem;
    /* 2px */
    transition-duration: 250ms;
}

#navbar a {
    height: 100%;
    font-size: 1.25rem;
    /* 20px */
    float: left;
    display: block;
    text-align: center;
    padding: 0.63rem 1.25rem;
    /* 10px 20px */
    text-decoration: none;
    transition: 0.4s;
    border-top-style: solid;
    border-color: transparent;
    transition-duration: var(--transitionms);
    border-width: 0.13rem;
    /* 2px */

    border-bottom: 0.13rem;
    /* 2px */
    border-bottom-color: transparent;

    color: var(--color0);
    text-shadow: 0.05rem 0.05rem 0px var(--color1);
    /* 0.75px */
    font-family: "Gelasio";
    font-size: 1.25rem;
    /* 20px */
    font-weight: 200;
    /* text-shadow: 0px 0px 8px #00000079; */
    z-index: -10;
}

#navbar a:hover {
    color: var(--color1);
    border-bottom-color: var(--color1);
    text-shadow: 0.05rem 0.05rem 0px var(--color2);
    /* 0.75px */
    border-image: var(--tricolorgradient);
}

/* Front Image */
#front-image {
    position: absolute;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem;
    padding: 0rem;
    z-index: -100;
    top: 13rem;
}

#front-image h1 {
	color: var(--color0);
	font-size: 7rem;
    text-shadow: 0.2rem 0.2rem 0px var(--color1); /* 0.2rem */
    top: -3.5rem;
	z-index: 1;
    position: absolute;
}

#front-image img {
    z-index: 0;
    position: fixed;
    object-fit: cover;
    height: 56.25rem;
    /* 90% of 62.5rem (100vh) */
    width: 100vw;
    filter: sepia(50%) brightness(50%);
}

#columns {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 4rem;
}

#portfolio-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .column {
        min-height: 0;
    }
}

/* Mobile */
@media (max-width: 48rem) {
    /* 768px */
    #columns {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    #portfolio-columns {
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }

    #portfolio-columns .column {
        padding-bottom: 0;
        padding-top: 0;
        margin: 0;
    }

    #models-grid {
        display: flex !important;
        flex-direction: column;
        gap: 0rem;
    }

    #models-grid * {
        min-width: 100%;
    }
}

.column {
    width: 99%;
    min-height: 31.25rem;
    padding: 0rem;
    color: white;
    overflow-x: visible;
}

.tile-column {
    width: 100%;
}

.tile {
    width: 100%;
    height: 13.75rem;
    /* 220px */

    display: block;
    position: relative;

    white-space: normal;
    margin-bottom: 1rem;
    border-width: 0.1rem;
    border-style: solid;
    background-color: var(--bgcolortile);

    border-color: var(--border-color);

    color: var(--color1);
    z-index: 0;
}

a.tile:hover {
    filter: brightness(80%);
    border-color: var(--color1);
    box-shadow: 0.12rem 0.12rem 0px var(--color2);
}

.tile img {
    object-fit: cover;
    height: 9.38rem;
    /* 150px */
    width: 100%;
    position: absolute;
    top: 0rem;
    /* 0px */
    left: 0rem;
    /* 0px */
    z-index: -1;
    filter: brightness(50%);
}

.tile h2 {
    position: absolute;
    text-align: left;
    vertical-align: bottom;
    left: 1.25rem;
    bottom: 5rem;
    right: 1.25rem;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.tile p {
    padding-left: 0.5rem;
    position: absolute;
    top: 9.38rem;
    margin-left: 0
}

.tile-small {
    height: 6rem;
}

.tile-small h2 {
    position: absolute;
    left: 1.2rem;
    bottom: 0.7rem;
}

.tile-small img {
    height: 100%;
}

.tile-title {
    height: 4.38rem;
    margin-top: 3.13rem;
}

.tile-title h1 {
    position: absolute;
    left: 1.25rem;
    top: 0.55rem;
}

.tile-title:first-of-type {
    margin-top: 0rem;
}


.portfolio-image {
    width: 100%;

    display: block;
    position: relative;

    white-space: normal;
    margin-bottom: 1rem;
    border-width: 0.1rem;
    border-style: solid;
    background-color: var(--bgcolortile);

    border-color: var(--border-color);

    color: var(--color1);
    z-index: 0;
}

/* Button */
.viewable-image {
    color: var(--textcolor);
    border-color: var(--border-color);
    border-style: solid;
    background-color: var(--bgcolortile);
    border-width: 0.1rem;
    box-shadow: 0rem 0rem 0.63rem var(--bgcolor3);
    transition-duration: var(--transitionms);
    outline: None;
    cursor: pointer;
}

.viewable-image:hover {
    border-color: var(--color1);
}

.viewable-image:active {
    filter: brightness(80%);
}

#image-viewer {
    z-index: 100;
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    transition: 50ms;
    overflow-y: hidden;
}

#image-viewer-background {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--bgcolor3);
    /* Black w/ opacity */
    width: 100%;
    height: 100%;
}

#image-viewer-image {
    position: relative;
    z-index: 100;
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    height: auto;
    width: auto;
    box-shadow: 0 0 2rem var(--bgcolor2);
}


#image-viewer-caption {
    margin: auto;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    overflow-wrap: normal;
    text-align: center;
    z-index: 1000001;
    padding: 1rem;
    box-sizing: border-box;

    color: var(--color0);
    text-shadow: 0.03rem 0.03rem 0px var(--color1);
    /* height: 150px; */
}

#image-viewer-previous, #image-viewer-next {
    z-index: 100;
    position: fixed;
    top: 50%;

    width: 3rem;
    height: 3rem;
    font-size: 1.5em;
    padding-top: 0.28em;
}


/* Mobile */
@media (max-width: 48rem) {

    /* 768px */
    #image-viewer-previous, #image-viewer-next {
        top: 90%;
    }
}

#image-viewer-previous {
    left: 3rem;
}

#image-viewer-next {
    right: 3rem;
}

.sidebar-section img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}


.no-scroll {
    overflow: hidden !important;
    background-color: #ffffff !important;
}



.check-box {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-box input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    height: 0.7rem;
    width: 0.7rem;
    cursor: pointer;
    background-color: var(--bgcolortile);

    border-color: var(--border-color);
    border-style: solid;
    border-width: 0.1rem;
}

/* On mouse-over*/
.check-box:hover input~.checkmark {
    border-color: var(--color1);
    box-shadow: 0.06rem 0.06rem 0px var(--color2);
}

/* When checkbox is checked */
.check-box input:checked~.checkmark {
    color: var(--color1);
    border-color: var(--color1);
}

.check-box:active {
    filter: brightness(80%);
}

/* Show the checkmark when checked */
.check-box input:checked~.checkmark:after {
    display: block;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "«";
    display: none;
    position: absolute;
    color: var(--color1);
    vertical-align: middle;
    text-align: center;
    font-size: 1.5rem;
    left: 0.45rem;
    top: -0.1rem;
}

#article-body, #article-sidebar {
    box-sizing: border-box;
}

#article-sidebar {
    top: 2rem;
    position: sticky;
    color: var(--textcolor);
    padding: 0.63rem;
    /* 10px → 0.63rem */
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0.1rem;
    box-shadow: 0rem 0rem 0.63rem var(--bgcolor3);
    transition-duration: var(--transitionms);
    outline: None;

    height: max-content;
    min-height: auto;
}


#article-header {
    display: block;
    margin-bottom: 2rem;
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0;
    border-bottom-width: 0.1rem;
    transition-duration: var(--transitionms);
    outline: None;
}

#article-header h3 {
    margin-bottom: 0.5rem;
}

#article-header p {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

#article-columns {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
    min-height: 100%;
    /* this hasnt worked but i may be on to something */
}

.article-tag {
    color: var(--textcolor);
    padding: 0.2rem;
    /* 10px → 0.63rem */
    border-color: var(--border-color);
    border-style: solid;
    background-color: var(--bgcolortile);
    border-width: 0.1rem;
    box-shadow: 0rem 0rem 0.63rem var(--bgcolor3);
    transition-duration: var(--transitionms);
    outline: None;
    cursor: pointer;
    width: max-content;
}

#article-created {
    color: var(--color2)
}

#article-updated {
    color: var(--color3)
}

#models-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .column {
        min-height: 0;
    }
}

#models-grid * {
    cursor: pointer;
}

#model-viewer {
    display: none;
}

#model-viewer-main {
    position: absolute;
    z-index: 100;
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    left: 1rem;
    right: 1rem;
    top: 1rem;
    bottom: 1rem;

    /* top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); */

    color: var(--textcolor);
    padding: 0.63rem;
    /* 10px → 0.63rem */
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0.1rem;
    box-shadow: 0 0 2rem var(--bgcolor2);
    transition-duration: var(--transitionms);
    outline: None;

    white-space: normal;
    background-color: var(--bgcolortile);

    color: var(--color1);

}

#model-viewer-viewer {
    box-sizing: border-box;
    width: 100%;
    height: 70%;

    color: var(--textcolor);
    padding: 0.63rem;
    /* 10px → 0.63rem */
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0.1rem;

    transition-duration: var(--transitionms);
    outline: None;
}

#model-viewer-text {
    padding-top: 1rem;
    /* padding-left: 1rem; */
    text-align: center;
}